{{>top}}

    <title>{{title}}</title>

    <meta name="description" content="{{description}}">
    <meta name="url" content="{{keywords}}">

{{>top-assets}}
</head>
<body>

    <div class="container">

        <main class="main" data-page="{{pageId}}">

            <div class="content" id="content">

{{{body}}}

{{{calendar}}}

            </div>

        </main>

    </div>

{{>bottom}}