{{>top}}
    <title>{{title}}. Brand Feed. Nike</title>

    <meta name="description" content="Nike Feed">
    <meta name="url" content="{{path}}">

    <!-- OG -->
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{path}}">
    <meta property="og:site_name" content="{{title}}. Brand Feed. Nike">
    <meta property="og:title" content="{{title}}. Brand Feed. Nike">
    <meta property="og:image" content="">
    <meta property="og:type" content="image/jpeg">

    <!-- Twitter card -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@nike">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:url" content="{{path}}">
{{>top-assets}}
</head>
<body>
{{>header}}

{{{body}}}

{{>footer}}